<section>
    <div class="inner">
        <h1><%= t(:title) %></h1>
    </div>
</section>

<section>
    <div class="inner flex">
      <div>
        <h2><%= t(:present_title) %></h2>
        <p><%= t(:present_text_1) %></p>
        <p><%= t(:present_text_2) %></p>
        <h3><%= t(:present_title_2) %></h3>
        <p><%= t(:present_text_3) %></p>
        <p><%= t(:present_text_4) %></p>
      </div>
      <img src="images/decorations.svg" alt="" width="400">
    </div>
</section>

<section>
    <div class="inner flex">
      <img src="images/toy.svg" alt="" width="350">
      <div>
        <h2><%= t(:outdated_title) %></h2>
        <p><%= t(:outdated_text_1) %></p>
        <p><%= t(:outdated_text_2) %></p>
        <p><%= t(:outdated_text_3) %></p>
      </div>
    </div>
</section>

<section>
    <div class="inner flex">
      <div>
        <h2><%= t(:update_title) %></h2>
        <p><%= t(:update_intro) %>:</p>
        <ul>
            <li><%= t(:update_list_1) %></li>
            <li><%= t(:update_list_2) %></li>
            <li><%= t(:update_list_3) %></li>
        </ul>
        <p><%= t(:update_browser_note) %></p>
      </div>
      <img src="images/hut-gloves.svg" alt="" width="350">
    </div>
</section>

<section>
    <div class="inner">
        <h2><%= t(:help_title) %></h2>
        <p><%= t(:help_share) %></p>
        <p><%= t(:help_translate) %> <a href="https://github.com/lislis/give-more-safety-online#help-translate" title="Translation instructions">here</a>.</p>
        <img src="images/cookies.svg" alt="" width="250" class="center">
    </div>
</section>
